.fila{
    width: 80%;
    width: 1200px;
    border: 5px solid rgb(127, 255, 212);
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    display: flex;

   
}
.fila #formulario{   
    width: 50%;
    padding: 30px;
    text-align: center ;
    background: black;
    color: aqua;
}

.fila #card-avatar{
    width: 50%;
    padding: 20px;
    text-align: center;
    background: grey;
    color: aqua;
    min-height: 1000px;
}

.fila #formulario label{
    display: block;
    font-size: x-large;
    color: rgb(124, 151, 5);
    margin-top: 10px;
}

.fila #formulario input{
    width: 200px;
    padding: 8px 15px;
    border: 1px solid rgb(115, 255, 0);
    font-size: 20px;
}

.fila #formulario select{
    width: 200px;
    padding: 8px 15px;
    border: 1px solid rgb(115, 255, 0);
    font-size: 20px;
}

.fila #formulario textarea{
    width: 200px;
    padding: 8px 15px;
    border: 1px solid rgb(115, 255, 0);
    font-size: 20px;
}

.fila #formulario button{
    width: 200px;
    margin-top: 20px;
    padding: 8px 15px;
    border: 1px solid rgb(115, 255, 0);
    font-size: 20px;
}

.fila #card-avatar img{
    width: 150px;
}

.fila #card-avatar p{
    font-size: 30px;
    
}

.menu{
    padding: 8px 20px;
    background: rgba(0, 0, 255, 0.411);
    position: absolute;
    color: white;
    right: 500px;
    bottom: 50px;
}
